/* SearchByCompany.tsx */
.container {
  width: 100%;
  display: grid;
  justify-content: center;
  place-items: center;
  grid-template-rows: 1fr;
  padding: 50px 0;
}
.companyCard {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-left: 1rem;
  margin-right: 1rem;
}
@media (max-width: 1720px) {
  .companyCard {
    min-width: 150%;
  }
}
@media (max-width: 1380px) {
  .companyCard {
    min-width: 200%;
  }
}
@media (max-width: 1040px) {
  .companyCard {
    min-width: 250%;
  }
}
@media (max-width: 830px) {
  .companyCard {
    min-width: 300%;
  }
}
@media (max-width: 690px) {
  .companyCard {
    min-width: 350%;
  }
}
@media (max-width: 590px) {
  .companyCard {
    min-width: 400%;
  }
}
