/* SearchByCompany.tsx */
.container {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 1fr;
  padding: 50px 0;
}
.header {
  width: 80%;
}
.innerContainer {
  width: 80%;
  padding-bottom: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.companyCard {
  min-width: 120%;
  display: flex;
  gap: 1rem;
}
