@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--foreground);
  background: var(--background);
}
h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
