.formContainer {
  display: flex;
  box-shadow: 0 25px 60px rgba(113, 106, 147, 0.2);
  border-radius: 2.5rem;
  padding: 1rem 2rem;
  background: white;
}
.formControl {
  flex-grow: 1;
  padding: 0.5rem 0;
  color: #333;
  border: none;
  background: white;
  font-family: 'Open Sans', serif;
  font-size: 1.125em;
  font-weight: 500;
}
.formControl:focus {
  outline: none;
}
.selectFormControl {
  display: inline-block;
  min-width: 10rem;
  min-height: 2.5rem;
  vertical-align: middle;
  border: none;
  padding: 0.5rem 0;
  color: #999;
  background: white;
  font-family: 'Open Sans', serif;
  font-size: 1.125em;
  font-weight: 500;
  margin-bottom: 0.1rem;
}
.selectFormControl:focus {
  outline: none;
}
.pipe {
  border: 1px solid #e7e7f1;
  height: 1.25rem;
  margin: 1rem;
  background: #e7e7f1;
}
.search {
  margin-left: 0.875rem;
  padding: 0.625rem 2.19rem;
  border: none;
  border-radius: 2.5rem;
  background: #1d4ed8;
  color: white;
  font-family: var(--font-open-sans);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.2;
  cursor: pointer;
}
